langgraph 
langchain 
openai 
pydantic
crewai
phidata
fastapi
yfinance
duckduckgo-search
IPython
python-dotenv
langchain-huggingface
langchain-community
pinecone-client
pinecone
langchain_pinecone
langchain-core
python-docx
sentence-transformers
docx2txt
pypdf
tiktoken
sqlitedict
jinja2
requests
python-multipart
streamlit
sqlalchemy 
psycopg2-binary
mcp
langchain-groq